---
import BaseLayout from "@layouts/BaseLayout.astro";
import Aside from "@components/Aside.astro";
import ColorsForm from "@components/ColorsForm.svelte";
import DisplayCode from "@components/DisplayCode.svelte";
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="generator" content={Astro.generator}/>
        <title>Tailwind Color Generator</title>
    </head>
    <body>
        <BaseLayout>
            <div class="p-6">
                <div class="grid grid-cols-12 gap-8">
                    <div class="col-span-12 sm:col-span-6 xl:col-span-4">
                        <Aside>
                            <div class="flex flex-col gap-6">
                                <div class="font-bold text-2xl text-slate-50">Fill in the fields:</div>
                                <ColorsForm client:load />
                            </div>
                        </Aside>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-8">
                        <Aside>
                            <h2 class="text-2xl font-bold text-slate-50">Result:</h2>
                            <DisplayCode client:load />
                        </Aside>
                    </div>
                </div>
            </div>
        </BaseLayout>
    </body>
</html>
