---
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
    </head>
    <body>
        <article>
            <slot /> <!-- your content is injected here -->
        </article>
    </body>
</html>

<style>
 body {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='1500' preserveAspectRatio='none' viewBox='0 0 2000 1500'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath6626%26quot%3b)' fill='none'%3e%3crect width='2000' height='1500' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient6627%26quot%3b)'%3e%3c/rect%3e%3ccircle r='99.735' cx='415.7' cy='730.87' fill='url(%26quot%3b%23SvgjsLinearGradient6628%26quot%3b)'%3e%3c/circle%3e%3ccircle r='49.495' cx='385.81' cy='159.63' fill='url(%26quot%3b%23SvgjsLinearGradient6629%26quot%3b)'%3e%3c/circle%3e%3ccircle r='90.82' cx='538.49' cy='199.31' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='130.835' cx='1811.35' cy='1109.94' fill='url(%26quot%3b%23SvgjsLinearGradient6630%26quot%3b)'%3e%3c/circle%3e%3ccircle r='91.81' cx='131.55' cy='1100.69' fill='url(%26quot%3b%23SvgjsLinearGradient6631%26quot%3b)'%3e%3c/circle%3e%3ccircle r='107.09' cx='1259.87' cy='707.26' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='67.27' cx='115.37' cy='275.98' fill='url(%26quot%3b%23SvgjsLinearGradient6632%26quot%3b)'%3e%3c/circle%3e%3ccircle r='51.245' cx='1841.32' cy='1188.35' fill='url(%26quot%3b%23SvgjsLinearGradient6633%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath6626'%3e%3crect width='2000' height='1500' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='6.25%25' y1='-8.33%25' x2='93.75%25' y2='108.33%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6627'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(106%2c 0%2c 230%2c 0.76)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='216.23' y1='730.87' x2='615.17' y2='730.87' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6628'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='286.82' y1='159.63' x2='484.79999999999995' y2='159.63' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6629'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1549.6799999999998' y1='1109.94' x2='2073.02' y2='1109.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6630'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-52.06999999999999' y1='1100.69' x2='315.17' y2='1100.69' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6631'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-19.169999999999987' y1='275.98' x2='249.91' y2='275.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6632'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1738.83' y1='1188.35' x2='1943.81' y2='1188.35' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6633'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
 }
</style>