---
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
    </head>
    <body>
        <article>
            <slot /> <!-- your content is injected here -->
        </article>
    </body>
</html>

<style>
 body {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1500' height='800' preserveAspectRatio='none' viewBox='0 0 1500 800'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1215%26quot%3b)' fill='none'%3e%3crect width='1500' height='800' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='59.27' cx='1166.65' cy='315.65' fill='url(%26quot%3b%23SvgjsLinearGradient1216%26quot%3b)'%3e%3c/circle%3e%3ccircle r='65.055' cx='699.51' cy='133.82' fill='url(%26quot%3b%23SvgjsLinearGradient1217%26quot%3b)'%3e%3c/circle%3e%3ccircle r='71.5' cx='439.45' cy='683.59' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='40.615' cx='415.5' cy='477.89' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='28.1' cx='541.12' cy='266.81' fill='url(%26quot%3b%23SvgjsLinearGradient1218%26quot%3b)'%3e%3c/circle%3e%3ccircle r='59.78' cx='713.05' cy='57.64' fill='url(%26quot%3b%23SvgjsLinearGradient1219%26quot%3b)'%3e%3c/circle%3e%3ccircle r='61.725' cx='94.66' cy='767.75' fill='url(%26quot%3b%23SvgjsLinearGradient1220%26quot%3b)'%3e%3c/circle%3e%3ccircle r='48.52' cx='553.54' cy='232.57' fill='url(%26quot%3b%23SvgjsLinearGradient1221%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1215'%3e%3crect width='1500' height='800' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1048.1100000000001' y1='315.65' x2='1285.19' y2='315.65' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1216'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='569.4' y1='133.82' x2='829.62' y2='133.82' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1217'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='484.92' y1='266.81' x2='597.32' y2='266.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1218'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='593.49' y1='57.64' x2='832.61' y2='57.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1219'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-28.790000000000006' y1='767.75' x2='218.11' y2='767.75' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1220'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='456.49999999999994' y1='232.57' x2='650.5799999999999' y2='232.57' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1221'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
 }
</style>